
{% extends "bootstrap/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">New Project</h1>

        <form class="needs-validation" id="projectForm" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="projectName">Project name</label>
                    <input type="text" class="form-control" autocomplete="off" id="projectName" name="projectName" placeholder="Project name" required>
                    <div class="invalid-feedback">
                        Please provide a name for your project
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="projectManager">Project manager</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" id="projectManager" name="projectManager" placeholder="Project manager" required>
                        <div class="invalid-feedback">
                            If none assigned please type n/a
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="architectName">Architect name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-sitemap"></i></span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" id="architectName" name="architectName" placeholder="Architect name" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            If none assigned please type n/a
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="businessReqUrl">Business requirement url</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fab fa-confluence"></i></span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" id="businessReqUrl" name="businessReqUrl" placeholder="Business requirement url" required>
                        <div class="invalid-feedback">
                            Please provide a link to the business/product requirement
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="productOwner">Product owner</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-astronaut"></i></span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" id="productOwner" name="productOwner" placeholder="Product owner" required>
                        <div class="invalid-feedback">
                            Please provide the name of your project product owner
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="repoId">Board</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                        </div>
                        <select class="custom-select" id="repoId" name="repoId" required>
                          <option value="" selected>Zenhub boards</option>
                          {% for board in boards %}
                              <option value="{{ board.repoId }}">{{ board.boardName }}</option>
                          {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please choose the board this project belongs to
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="releaseDate">Prod release date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-flag-checkered"></i></span>
                        </div>
                        <input type="text" autocomplete="off" class="form-control js-datepicker" id="releaseDate" name="releaseDate" placeholder="Prod release date" required>
                        <div class="invalid-feedback">
                            Please choose a date from the date picker.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="trialDate">Trial release date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-flag"></i></span>
                        </div>
                        <input type="text" autocomplete="off" class="form-control js-datepicker" id="trialDate" name="trialDate" placeholder="Trial release date">
                    </div>
                </div>
                <div class="col-md-2 mb-3"></div>
                <div class="col-md-2 mb-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <input type="hidden" name="projectCreateduserId" value="1">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/projectForm.js') }}"></script>
{% endblock %}
