
{% extends "bootstrap/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        {% if project %}
        <h1 class="mt-5">Project Estimation Page</h1>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="projectName">Project name</label>
                <input type="text" disabled value='{{ project.projectName|default("", true) }}' class="form-control" autocomplete="off" id="projectName" name="projectName" placeholder="Project name">
            </div>
            <div class="col-md-4 mb-3">
                <label for="projectManager">Project manager</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">PM</span>
                    </div>
                    <input type="text" disabled value='{{ project.projectManager|default("", true) }}' class="form-control" autocomplete="off" id="projectManager" name="projectManager" placeholder="Project manager">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="architectName">Architect name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">A</span>
                    </div>
                    <input type="text" disabled value='{{ project.architectName|default("", true) }}' class="form-control" autocomplete="off" id="architectName" name="architectName" placeholder="Architect name" aria-describedby="inputGroupPrepend">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="businessReqUrl">Business requirement url</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">WEB</span>
                    </div>
                    <input type="text" disabled value='{{ project.businessReqUrl|default("", true) }}' class="form-control" autocomplete="off" id="businessReqUrl" name="businessReqUrl" placeholder="Business requirement url">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="productOwner">Product owner</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">PO</span>
                    </div>
                    <input type="text" disabled value='{{ project.productOwner|default("", true) }}' class="form-control" autocomplete="off" id="productOwner" name="productOwner" placeholder="Product owner">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="boardName">Board</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">B</span>
                    </div>
                    <input type="text" disabled value='{{ project.boardName|default("", true) }}' autocomplete="off" class="form-control" id="boardName" name="boardName">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="releaseDate">Prod release date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">PM</span>
                    </div>
                    <input type="text" disabled value='{{ project.releaseDate|default("", true) }}' autocomplete="off" class="form-control" id="releaseDate" name="releaseDate">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="trialDate">Trial release date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">PM</span>
                    </div>
                    <input type="text" disabled value='{{ project.trialDate|default("", true) }}' autocomplete="off" class="form-control" id="trialDate" name="trialDate">
                </div>
            </div>
            <div class="col-md-2 mb-3"></div>
            <div class="col-md-2 mb-3">
                <label>&nbsp;</label>
                <div class="input-group">
                    <input type="hidden" name="projectCreateduserId" value="1">
                    <input type="hidden" name="projectId" id="projectId" value='{{ project.projectId|default("", true) }}'>
                </div>
            </div>
        </div>

        {% if peats|length > 0 %}
        <div class="row text-left">
            <div class="col">
                <input type="text" autocomplete="off" class="form-control" id="searchInputField" name="searchInputField" placeholder="Quick search for issues from the epics below">
                <h4 class="mt-5 text-center">Epics added to this project</h4>
            </div>
        </div>
        {% endif %}
        {% for peat in peats %}
        {% if peat.allTickets|length > 0 %}
        <div class="row text-left">
            <div class="col">
                <h4 class="mt-5">{{ peat.epicName }}</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Issue #</th>
                            <th scope="col">Title</th>
                            <th scope="col">Dependant system</th>
                            <th scope="col">Dependant reason</th>
                            <th scope="col">Dev est in days</th>
                            <th scope="col">QA est in days</th>
                            <th scope="col">Status</th>
                            <th scope="col">Scope / Releasing to</th>
                            <th scope="col">Total comments</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Shared platform Issue?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in peat.allTickets|sort(attribute='issueStatus') %}
                        <tr>
                            <th scope="row" class="text-center"><a href='{{ ticket.issueLink|default("", true) }}' target="_blank">{{ticket.issueNumber|default("", true)}}</a>

                            <button type="button" class="btn btn-info" data-toggle="modal" data-target=".updateTicketModal-lg" data-ticketid="{{ticket.ticketId}}" data-title="{{ticket.title|default('', true)}}" data-dependantSystem="{{ticket.dependantSystem|default('', true)}}" data-dependantReason="{{ticket.dependantReason|default('', true)}}"  data-issueNumber="{{ticket.issueNumber|default('', true)}}" data-devEstimateInDays="{{ticket.devEstimateInDays|default('', true)}}" data-qaEstimateInDays="{{ticket.qaEstimateInDays|default('', true)}}" data-issueStatus="{{ticket.issueStatus|default('', true)}}" data-proposedReleaseDropTo="{{ticket.proposedReleaseDropTo|default('', true)}}" data-totalComments="{{ticket.totalComments|default('', true)}}" data-notes="{{ticket.notes|default('', true)}}" data-sharedPlatformIssue="{{ticket.sharedPlatformIssue|default('', true)}}">
                                Update
                            </button>
                            </th>
                            <td>{{ticket.title|default("", true)}}</td>
                            <td>{{ticket.dependantSystem|default("", true)}}</td>
                            <td>{{ticket.dependantReason|default("", true)}}</td>
                            <td>{{ticket.devEstimateInDays|default("", true)}}</td>
                            <td>{{ticket.qaEstimateInDays|default("", true)}}</td>
                            <td>{{ticket.issueStatus|default("", true)}}</td>
                            <td>{{ticket.proposedReleaseDropTo|default("", true)}}</td>
                            <td>{{ticket.totalComments|default("", true)}}</td>
                            <td>{{ticket.notes|default("", true)}}</td>
                            <td>{{ticket.sharedPlatformIssue|default("", true)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <!-- The form starts -->
        <form class="needs-validation" id="projectEpicsForm" novalidate>

            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="epicId">Choose an Epic to fetch its issues</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">E</span>
                        </div>
                        <select class="custom-select" id="id" name="id" required>
                            <option value="" selected>Select Epics</option>
                            {% for epic in epics|sort(attribute='epicName') %}
                            <option value='{{ epic.epicId|default("", true) }}'>{{ epic.epicName|default("", true) }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please choose an epic you would like to fetch its issue for this project
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-3"></div>
                <div class="col-md-2 mb-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target=".epicsIssuesModal-lg" id="hiddenFetchButton">
                            hidden modal button
                        </button>
                        <input type="hidden" name="type" value="epic">
                        <button class="btn btn-primary" type="submit">Fetch </button>
                    </div>
                </div>
            </div>
        </form>
        <form class="needs-validation" id="projectIssueForm" novalidate>

            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="id">Add any issue that is not part of an epic</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">I</span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" name="id" placeholder="Issue Number" required>
                        <div class="invalid-feedback">
                            A specific issue number is required and it must be from the {{ project.boardName|default("", true) }} board
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-3"></div>
                <div class="col-md-2 mb-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <input type="hidden" name="type" value="issue">
                        <button class="btn btn-primary" type="submit">Add </button>
                    </div>
                </div>
            </div>
        </form>


        <!-- Modal -->
        <div class="modal fade epicsIssuesModal-lg" id="epicsIssuesModal" tabindex="-1" role="dialog" aria-labelledby="epicsModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="epicsModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left" id="fetchedEpicData">
                        ...
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="dataType">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="addIssueButton">Add issues to project</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Updating ticket Modal -->
        <div class="modal fade updateTicketModal-lg" id="updateTicketModal" tabindex="-1" role="dialog" aria-labelledby="updateTicketModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" id="fetchedUpdateTicket">
                        ...
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/projectEpicsAndTicketsForm.js') }}"></script>
{% endblock %}
