
{% extends "bootstrap/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        {% if project %}
            <h1 class="mt-5">Project Estimation Page</h1>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="projectName">Project name</label>
                    <input type="text" disabled value="{{ project.projectName }}" class="form-control" autocomplete="off" id="projectName" name="projectName" placeholder="Project name">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="projectManager">Project manager</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">PM</span>
                        </div>
                        <input type="text" disabled value="{{ project.projectManager }}" class="form-control" autocomplete="off" id="projectManager" name="projectManager" placeholder="Project manager">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="architectName">Architect name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">A</span>
                        </div>
                        <input type="text" disabled value="{{ project.architectName }}" class="form-control" autocomplete="off" id="architectName" name="architectName" placeholder="Architect name" aria-describedby="inputGroupPrepend">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="businessReqUrl">Business requirement url</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">WEB</span>
                        </div>
                        <input type="text" disabled value="{{ project.businessReqUrl }}" class="form-control" autocomplete="off" id="businessReqUrl" name="businessReqUrl" placeholder="Business requirement url">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="productOwner">Product owner</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">PO</span>
                        </div>
                        <input type="text" disabled value="{{ project.productOwner }}" class="form-control" autocomplete="off" id="productOwner" name="productOwner" placeholder="Product owner">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="repoId">Board</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">B</span>
                        </div>
                        <input type="text" disabled value="{{ project.boardName }}" autocomplete="off" class="form-control" id="repoId" name="repoId">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="releaseDate">Prod release date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">PM</span>
                        </div>
                        <input type="text" disabled value="{{ project.releaseDate }}" autocomplete="off" class="form-control" id="releaseDate" name="releaseDate">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="trialDate">Trial release date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">PM</span>
                        </div>
                        <input type="text" disabled value="{{ project.trialDate }}" autocomplete="off" class="form-control" id="trialDate" name="trialDate">
                    </div>
                </div>
                <div class="col-md-2 mb-3"></div>
                <div class="col-md-2 mb-3">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <input type="hidden" name="projectCreateduserId" value="1">
                    </div>
                </div>
            </div>
            <!-- The form starts -->
            <form class="needs-validation" id="projectEpicsForm" novalidate>

                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <label for="repoId">Choose an Epic to fetch its issues</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">E</span>
                            </div>
                            <select class="custom-select" id="repoId" name="repoId" required>
                                <option value="" selected>Select Epics</option>
                                {% for epic in epics %}
                                    <option value="{{ epic.epicId }}">{{ epic.epicName }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Please choose an epic you would like to fetch its issue for this project
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-2 mb-3">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <input type="hidden" name="projectCreateduserId" value="1">
                            <button class="btn btn-primary" type="submit">Fetch </button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/projectEpicsAndTicketsForm.js') }}"></script>
{% endblock %}
